body{
    font-family: 'Futura', sans-serif;
    margin: 0px;
}

.circle{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 200px;
    
}

.intro-content{
    display: block;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 25px;
}

.intro{
    background-image: url("bay2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.education{
    background-color: #011B3E;
    margin-top: -45px;
    padding-top: 5px;
}


.education-content{
    text-align: center;
    color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

.umichlogo{
    display: block;
    background-size: cover;
    width: 213.5%;
    margin-top: -5px;
    margin-right: auto;
    margin-left: -340px;
}

.contact-content{
    display: block;
    text-align: center;
    background-color: white;
}

a{
    color: #FDCE30;
    text-decoration: none;
}


.linklogo{
    max-width: 80px;
    height: auto;
}

.overlay-container{
    position: relative;
    width: 100%;
    padding: 0px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  padding: 0px;
}

.overlay-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}


h1 {
 font-family: Futura; 
 text-shadow: 1px 1px #7d8593;
 font-size: 50px; font-style: normal; 
 font-variant: normal; 
 font-weight: 400; 
 line-height: auto; 
} 
h2{
  font-family: "Trebuchet MS";
  text-shadow: 0.5px 0.5px #7d8593;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: auto;
}
h3 { 
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   font-size: 25px;
   font-style: normal; 
   font-variant: normal; 
   font-weight: 200;
    line-height: auto;
 } 

p { 
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
  font-size: 14px; font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: auto; 
} 
blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 font-size: 17px; 
 font-style: normal; 
 font-variant: normal; 
 font-weight: 400; 
 line-height: auto;
  } 

pre { font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
  font-size: 11px; font-style: normal;
  font-variant: normal; 
  font-weight: 400;
  line-height: 23px; 
}

.contact-link{
    display: inline-flex;
    opacity: 1;
    margin: 40px;
    border-radius: 25px;
    padding: 5px;
}

.contact-link:hover{
    background-color: white;
    transition: .5s ease;
    opacity: 0.5;
    
}
